@font-face {
  font-family: "iconfont"; /* Project id 4230059 */
  src: url('iconfont.woff2?t=1693617768663') format('woff2'),
       url('iconfont.woff?t=1693617768663') format('woff'),
       url('iconfont.ttf?t=1693617768663') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.szw-back:before {
  content: "\e679";
}

.szw-cart:before {
  content: "\e6af";
}

.szw-home:before {
  content: "\e6b8";
}

.szw-apps:before {
  content: "\e729";
}

.szw-people:before {
  content: "\e736";
}

